* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    header {
        background: #1f419b;

        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            ul {
                list-style: none;
                display: flex;
                color: #bcdef5;
            }
    
            a {
                text-decoration: none;
                color: #bcdef5;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
    }


    /*header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #1f419b;
        padding: 30px 10%;

        img {
            cursor: pointer;
            margin-right: auto;
        }

        a {
            text-decoration: none;
            margin-right: auto;
            color: white;
        }

        nav ul {
            list-style: none;

            li {
                display: inline-block;
                padding: 0 20px;
                text-decoration: none;

                :hover {
                    background: yellow;
                    color: white;
                }

                a {
                    transition: all 0.3s ease 0s;
                    color: white;

                    :hover {
                        color: white;
                    }
                }
            }
        }
    }
    
    nav {
        background: #1f419b;
        text-align: center;

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            ul {
                list-style: none;
                padding-left: 300px;
    
                li {
                    padding: 20px;
                    :hover {
                        background: rgba($color: #BCDEF5, $alpha: 0.1S);
                        color: white;
                        transition: background-color .5s;
                    }
    
                    a {
                        padding: 15px;
                        text-decoration: none;
                        color: #fff;
    
                        img {
                            width: 200px;
                            height: 46.42px;
                        }
                    }
                }
            }
        }
    }*/
}