* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; 
}

body {
    background: #ececec;
}

header {
    z-index: 1;
    background: #1f419b;
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-items-navbar a {
            padding: 30px;
            margin-left: 50px;

            &:hover {
                background: rgba($color: #BCDEF5, $alpha: 0.1S);
                transition: all 0.5s ease 0s;
            }
        }

        .right-items-navbar a {
            padding: 30px 10px;
            
            &:hover {
                background: rgba($color: #1b3885, $alpha: 0.9S);
                transition: all 0.1s ease 0s;
            }            
        }



        img {
            width: 200px;
            height: 46.42px;
        }

        ul {
            list-style: none;
            display: flex;
            color: #bcdef5;
            margin-top: 15px;
        }

        a {
            text-decoration: none;
            color: #bcdef5;
        }
    }
}

section {
    min-height: calc(100vh - 70px);
    h3 {
        padding-bottom: 5px;
        font-size: 24px;
    }

    .u-anchorTarget {
        height: 0;
        width: 0;
        margin-top: -85px;
        display: block;
        visibility: hidden;
        pointer-events: none;
        position: absolute;
    }

    .block-container {
        background: #fefefe;
        border-width: 1px;
        border-style: solid;
        border-top-color: #dfdfdf;
        border-right-color: #d8d8d8;
        border-bottom-color: #cbcbcb;
        border-left-color: #d8d8d8;
        border-radius: 4px;

        .block-header {
            margin: 0;
            padding: 6px 10px;
            border-radius: 4px 4px 0 0;
            font-weight: 400;
            font-size: 20px;
            background: #1f419b;
            border-bottom: 1px solid #dfdfdf;

            a {
                text-decoration: none;
                color: #edf6fd;
            }
        }

        .block-body {
            list-style: none;
            margin: 0;
            padding: 0;

            .structItemContainer {
                border-collapse: collapse;
                list-style: none;
                margin: 0;
                padding: 0;
                width: 100%;

                .structItem {
                    border-bottom: 1px solid #e7e7e7;
                    display: table;
                    table-layout: fixed;
                    border-collapse: collapse;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    width: 100%;

                    .structItem-cell.structItem-cell--icon {
                        width: 52px;
                        position: relative;
                    }

                    .structItem-cell {
                        display: table-cell;
                        vertical-align: top;
                        padding: 10px 8px;
                    }

                    .structItem-iconContainer {
                        position: relative;

                        .avatar.avatar--default.avatar--default.dynamic {
                            font-weight: normal;
                            text-align: center;
                            text-decoration: none;
                            line-height: 1;
                        }                        
                        .structItem-iconContainer .avatar.avatar--xxs {
                            width: 24px;
                            height: 24px;
                            font-size: 14px;
                        }
                        .structItem-iconContainer .avatar {
                            width: 36px;
                            height: 36px;
                        }
                        .avatar.avatar--xxs {
                            width: 24px;
                            height: 24px;
                        }
                        .avatar {
                            width: 36px;
                            height: 36px;
                            font-size: 22px;
                            /* .avatar */
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            vertical-align: top;
                            overflow: hidden;
                            text-decoration: none;
                        }
                    }

                    .structItem-title {
                        font-size: 17px;
                        font-weight: 400;
                        margin: 0;
                        padding: 0;
                        a {
                            text-decoration: none;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    .structItem-minor {
                        font-size: 12px;
                        color: #8c8c8c;
                        a {
                            color: inherit;
                            text-decoration: none;
                        }

                        .structItem-parts {
                            list-style: none;
                            margin: 0;
                            padding: 0;
                            display: inline;
                         }

                        .structItem-parts>li {
                            display: inline;
                            margin: 0;
                            padding: 0;
                        }

                        .structItem-parts>li:nth-child(even) {
                            color: #505050;
                        }
                    }

                    .structItem-cell.structItem-cell--meta {
                        width: 135px;

                        .pairs.pairs--justified>dt {
                            float: left;
                            max-width: 100%;
                            margin-right: 6px;
                        }

                        .pairs>dt {
                            padding: 0;
                            margin: 0;
                            color: #8c8c8c;
                        }

                        .pairs.pairs--justified>dd {
                            float: right;
                            text-align: right;
                            max-width: 100%;
                        }

                        .pairs>dd {
                            padding: 0;
                            margin: 0;
                        }
                    }

                    .structItem-cell.structItem-cell--latest {
                        width: 190px;
                        text-align: right;
                        a {
                            text-decoration: none;
                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        .structItem-minor {
                            font-size: 12px;
                            color: #8c8c8c;
                            a {
                                color: inherit;
                                text-decoration: none;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }

                    .structItem-cell.structItem-cell--icon.structItem-cell--iconEnd {
                        width: 40px;
                        padding-left: 4px;
                    }
                    .structItem-cell.structItem-cell--icon.structItem-cell--iconEnd .structItem-iconContainer {
                        padding-top: 6px;
                    }
                }
            }
        }
        
        .node-body {
            border-bottom: 1px solid #e7e7e7;
            display: table;
            table-layout: fixed;
            width: 100%;
            dt, dd, dl {
                display: block;
            }
            dl {
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
            }
            .u-dt[title] {
                border: none;
                text-decoration: none;
            }

            [dir=auto] {
                text-align: left;
            }

            .node-icon {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                width: 46px;
                padding: 10px 0 10px 10px;

                i {
                    display: block;
                    line-height: 1.125;
                    font-size: 32px;
                }
            }

            .node-main {
                display: table-cell;
                vertical-align: middle;
                padding: 10px;

                .node-title {
                    margin: 0;
                    padding: 0;
                    font-size: 19px;
                    font-weight: 400;
                    
                    a {
                        color: #2577b1;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .node-stats {
                display: table-cell;
                width: 140px;
                vertical-align: middle;
                text-align: center;
                padding: 10px 0;
            }

            .node-stats > dl.pairs.pairs-rows:first-child {
                padding-left: 0;
            }
            
            .node-stats > dl.pairs.pairs-rows {
                width: 50%;
                float: left;
                margin: 0;
                padding: 0 3px;
            }

            .pairs.pairs-rows > dt {
                display: table-row;
                font-size: 80%;
            }

            .pairs > dt {
                padding: 0;
                margin: 0;
                color: #8c8c8c;
            }

            .node-stats > dl.pairs.pairs-rows:last-child {
                padding-right: 0;
            }

            .pairs.pairs-rows > dd {
                display: table-row;
            }

            .pairs > dd {
                padding: 0;
                margin: 0;
            }

            .node-extra {
                display: table-cell;
                vertical-align: middle;
                width: 280px;
                padding: 10px;
                font-size: 13px;

                .node-extra-icon {
                    padding-right: 10px;
                    float: left;

                    .avatar {
                        width: 36px;
                        height: 36px;
                        font-size: 22px;
                        /* .avatar */
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        vertical-align: top;
                        overflow: hidden;
                        text-decoration: none;
                    }
                }

                .node-extra-row {
                    overflow: hidden;
                    white-space: nowrap;
                    word-wrap: normal;
                    text-overflow: ellipsis;
                    color: #8c8c8c;

                    a {
                        color: #2577b1;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .listInline {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                    }

                    .listInline > li {
                        display: inline;
                        margin: 0;
                        padding: 0;
                    }

                    ul {
                        display: block;
                        margin-block-start: 1em;
                        margin-block-end: 1em;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                        padding-inline-start: 40px;

                        .u-dt[title] {
                            border: none;
                            text-decoration: none;
                        }

                        [dir=auto] {
                            text-align: left;
                        }

                        .node-extra-user a {
                            color: #2577b1;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .block-bar {
            padding: 16px;
            font-size: 13px;
            color: #2577b1;
            border-bottom: 1px solid #cbcbcb;
            background: linear-gradient(0deg, #edf6fd, #f6fafe);
        }
    }

    .p-body {
        display: flex;
        align-items: stretch;
        flex-grow: 1;
        min-height: 1px;
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }

        .container.p-body-inner {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 1300px;
            padding: 0 10px;
            margin: 0 auto;
        }

        .p-body-header {
            margin-bottom: 10px;

            .p-title {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                align-items: center;
                max-width: 100%;
                margin-bottom: -5px;
            }

            .p-description {
                margin: 5px 0 0;
                padding: 0;
        
                .listInline {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li {
                        float: left;
                        i {
                            color: #8c8c8c;
                        }
                        a {
                            text-decoration: none;
                            font-size: 13px;
                            color: #8c8c8c;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        &:last-child {
                            margin-left: 3px;
                        }
                    }

                    .listInline>li {
                        display: inline;
                        margin: 0;
                        padding: 0;
                    }
                    
                    .u-srOnly {
                        position: absolute;
                        height: 1px;
                        width: 1px;
                        margin: -1px;
                        padding: 0;
                        border: 0;
                        clip: rect(0 0 0 0);
                        overflow: hidden;
                    }
                }
            }
        }

        .p-body-main {
            display: table;
            table-layout: fixed;
            width: 100%;
            margin-bottom: auto;
            min-height: 1px;

            .p-body-contentCol, .p-body-sidebarCol {
                display: table-column;
            }
            .p-body-sidebarCol {
                width: 0;
            }
            .p-body-content {
                display: table-cell;
                vertical-align: top;
            }
            .p-body-content>:last-child, .p-body-pageContent>:last-child {
                margin-bottom: 0;
            }
            .p-body-content>:first-child, .p-body-pageContent>:first-child {
                margin-top: 0;
            }
            .block {
                margin-bottom: 20px;
            }

            .block--messages .block-container {
                background: none;
                border: none;
            }

            .block--messages .message-inner:last-of-type .message-cell:first-child {
                border-bottom-left-radius: 3px;
            }
            .block--messages .message-inner:first-of-type .message-cell:first-child {
                border-top-left-radius: 3px;
            }
            .block--messages .message-inner:last-of-type .message-cell:last-child {
                border-bottom-left-radius: 3px;
            }
            .block--messages .message-inner:first-of-type .message-cell:last-child {
                border-top-left-radius: 3px;
            }

            .block--messages .message-inner .message-cell {
                border-radius: 0;
            }


            .message-cell.message-cell--user {
                flex: 0 0 140px;
                position: relative;
                background: #f5f5f5;
                border-right: 1px solid #d8d8d8;
                min-width: 0;
            }

            .message-cell {
                vertical-align: top;
                padding: 10px;
            }

            .block-container {
                color: #141414;
                border-radius: 4px;
            }

            .block-body {
                list-style: none;
                margin: 0;
                padding: 0;

                .message {
                    color: #141414;
                    background: #fefefe;
                    border-width: 1px;
                    border-style: solid;
                    border-top-color: #dfdfdf;
                    border-right-color: #d8d8d8;
                    border-bottom-color: #cbcbcb;
                    border-left-color: #d8d8d8;
                    border-radius: 4px;
                }

                .message-inner {
                    display: flex;

                    .message-avatar {
                        text-align: center;
                        .message-avatar-wrapper {
                            position: relative;
                            display: inline-block;
                            vertical-align: bottom;
                            margin-bottom: 0.5em;
                        }
                        .avatar {
                            vertical-align: bottom;
                        }
                    }
                    .avatar {
                        display: inline-flex !important;
                        justify-content: center !important;
                        align-items: center !important;
                        border-radius: 50% !important;
                        overflow: hidden;
                    }

                    .message-name {
                        font-weight: 700;
                        font-size: inherit;
                        text-align: center;
                        margin: 0;
                    }
                    h4 {
                        display: block;
                        margin-block-start: 1.33em;
                        margin-block-end: 1.33em;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                    }
                    .message-userArrow {
                        position: absolute;
                        top: 20px;
                        right: -1px;
                        border: 10px solid transparent;
                        border-left-width: 0;
                        border-right-color: #d8d8d8;
                    }
                    .message-userArrow:after {
                        position: absolute;
                        top: -9px;
                        right: -10px;
                        content: "";
                        border: 9px solid transparent;
                        border-left-width: 0;
                        border-right-color: #fefefe;
                    }
                }
            }

            .message-cell.message-cell--main {
                flex: 1 1 auto;
                width: 100%;
                min-width: 0;
            }
            .message-main {
                height: 100%;
                display: flex;
                flex-direction: column;

                .message-attribution.message-attribution--split {
                    display: flex;
                    align-items: flex-end;
                    flex-wrap: wrap;
                }
                .message-attribution {
                    color: #8c8c8c;
                    font-size: 12px;
                    padding-bottom: 3px;
                    border-bottom: 1px solid #e7e7e7;
                }
                ul {
                    display: block;
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                    padding-inline-start: 40px;
                }

                .message-attribution-main {
                    float: left;
                }

                .listInline {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }

                .listInline>li {
                    display: inline;
                    margin: 0;
                    padding: 0;
                }

                .u-concealed, .u-concealed a {
                    text-decoration: inherit !important;
                    color: inherit !important;
                }

                li {
                    display: list-item;
                }

                .message-content {
                    position: relative;
                    flex: 1 1 auto;
                    min-height: 1px;                
                }

                .message-body:last-child {
                    margin-bottom: 0;
                }

                .message-body {
                    margin: 10px 0;
                }

                .bbWrapper>:first-child {
                    margin-top: 0;
                }

                b, strong {
                    font-weight: 700;
                }
            }
        }
    }
    .far {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        position: relative;
        font-weight: 400;
    }
}

.avatar.avatar--default.avatar--default.dynamic {
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    line-height: 1;
}
.avatar.avatar--s {
    width: 48px;
    height: 48px;
}
.structItem-iconContainer .avatar.avatar--xxs {
    width: 24px;
    height: 24px;
    font-size: 14px;
}
.structItem-iconContainer .avatar {
    width: 36px;
    height: 36px;
}
.avatar.avatar--s {
    width: 48px;
    height: 48px;
}
.avatar.avatar--xs {
    width: 32px;
    height: 32px;
    font-size: 19px;
}
.avatar.avatar--xxs {
    width: 24px;
    height: 24px;
}
.avatar {
    width: 36px;
    height: 36px;
    font-size: 22px;
    /* .avatar */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    vertical-align: top;
    overflow: hidden;
    text-decoration: none;
}
.avatar--default.avatar--default--dynamic {
    font-family: 'Arial', sans-serif;
    font-weight: normal;
    text-align: center;
    text-decoration: none !important;
    line-height: 1;
    user-select: none;
}
.avatar.avatar--m {
    width: 96px;
    height: 96px;
    font-size: 58px;
}
.avatar.avatar--xxs {
    width: 24px;
    height: 24px;
    font-size: 14px;
}

.block-outer {
    padding-bottom: 6px;
    &:empty {
        display: none;
    }
}
.block-outer.block-outer--after {
    padding-top: 6px;
    padding-bottom: 0;
}

.block-outer-opposite {
    float: right;
}

.button.button--wrap, a.button.button--wrap {
    white-space: normal;
}

.button.button--link, a.button.button--link {
    background: #fefefe;
    color: #2577b1;
    border-color: #e5e5e5 #cbcbcb #cbcbcb #e5e5e5;
}

.button, a.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color .125s ease, border-color .125s ease, color .125s ease;
    font-size: 13px;
    border-radius: 4px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-align: center;
}

.button--link.button--wrap.button.post-thread-button {
    background: #f2930d;
    color: #fff;
    border-color: #f39e25 #da840c #da840c #f39e25;
    font-size:15px;
    &:hover {
        background: rgba($color: #cb7b0b, $alpha: 0.9S);
        transition: all 0.1s ease 0s;
    }
}
.button--link.button--wrap.button.login-for-post-thread:hover {
    text-decoration: none;
    background: #edf6fd;
}

#post_threadCollapse {
    margin-top: 50px;
}

.demo-update {
    background: #fefefe;
    border-width: 1px;
    border-style: solid;
    border-top-color: #dfdfdf;
    border-right-color: #d8d8d8;
    border-bottom-color: #cbcbcb;
    border-left-color: #d8d8d8;
    border-radius: 4px;
    padding: 1em;
}

.demo-update h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 .5em;
    padding: 0;
}

.demo-update .ck.ck-editor__editable_inline {
    border: 1px solid hsla( 0, 0%, 0%, 0.15 );
    transition: background .5s ease-out;
    min-height: 6em;
    margin-bottom: 1em;
}

.demo-update__controls {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.demo-update__chart {
    margin-right: 1em;
}

.demo-update__chart__circle {
    transform: rotate(-90deg);
    transform-origin: center;
}

.demo-update__chart__characters {
    font-size: 13px;
    font-weight: bold;
}

.demo-update__words {
    flex-grow: 1;
    opacity: .5;
}

.demo-update__limit-close .demo-update__chart__circle {
    stroke: hsl( 30, 100%, 52% );
}

.demo-update__limit-exceeded .ck.ck-editor__editable_inline {
    background: hsl( 0, 100%, 97% );
}

.demo-update__limit-exceeded .demo-update__chart__circle {
    stroke: hsl( 0, 100%, 52% );
}

.demo-update__limit-exceeded .demo-update__chart__characters {
    fill: hsl( 0, 100%, 52% );
}

.account-detail {
    background: #f5f5f5;
    width: 450px;
    padding: 10px;
    display: flex;

    .account-detail-avatar {
        text-align: center;
        padding-top: 20px;
        margin-right: 20px;
    }

    .account-detail-content {
        b {
            color: #2577b1;
        }
        span {
            color: #141414;
        }
    }
}

footer {
    background: #152c68;
    padding: 6.5px 0;

    .footer-inner {
        color: #edf6fd;
        font-size: 13px;
        i, a {
        color: #edf6fd;
        list-style: none;
        text-decoration: none;
        }

        .footer-row {
            display: flex;
            justify-content: space-between;

            .footer-row-opposite {
                display: flex;
                justify-content: flex-end;
                a {
                    padding: 3.5px;
                    margin: 0 5px;
                    &:hover {
                        border-radius: 3.5px;
                        background: rgba($color: #BCDEF5, $alpha: 0.1S);
                        transition: all 0.1s ease 0s;
                    }
                }
            }
        }

        .footer-copyright {
            color: #edf6fd;
            margin-top: 20px;
            text-align: center;
            font-size: 11px;
            a:hover {
                text-decoration: underline;
            }
            sup {
                top: -0.5em;
                font-size: 75%;
                line-height: 0;
                position: relative;
                vertical-align: baseline;
            }
        }
    }
}